@import '../../styles/globals';

.box {
  .button {
    margin-top: 30px;
  }
}

.login-box-container {
  perspective: 1000px;
}

.login-box-animation {
  animation: flip .8s ease-in-out forwards;
  transform-origin: top left;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(-40deg) translateY(-10px);
  }

  70% {
    transform: rotateX(10deg) translateY(0);
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
