{
  "presets": [
    [
      "env", { "modules": false }
    ],
    "react"
  ],
  "plugins": [
    ["syntax-dynamic-import"],
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    }
  }
}
