@import 'globals';

.button {
  @include rounded;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  padding: 15px 30px;

  &-bordered {
    border: 1px solid #fff;
  }

  &-orange {
    background-color: $color-orange;
    color: #fff;

    &:hover {
      background-color: $color-red;
    }
  }

  &-white {
    background-color: #fff;
    color: #666;
  }

  &-small {
    font-size: 16px;
    padding: 10px 15px;
  }
}
