@import 'globals';

input {
  color: #222;
  background: none;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  display: block;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 15px;
  padding: 5px;
  width: 100%;

  &:focus {
    border-color: #222;
  }

  &::-webkit-input-placeholder {
    color: #ddd;
  }
}
