p {
  color: #222;
}

h1 {
  color: #fff;
  font-family: $font-heading;
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
}

h2 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 60px;
  text-align: center;
}
