@import 'globals';

@import 'input';

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(10deg, #eb3349 , #f45c43);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
