@import 'globals';

@import 'box';
@import 'buttons';
@import 'input';
@import 'typography';

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: $color-gradient;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 500% 100%;
}

.error {
  margin-top: 15px;
  text-align: center;
}

.text-center {
  text-align: center;
}

.vertical-center {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  padding: 0 30px;
  position: absolute;
  top: 0;
  width: 100%;
}
