@import 'globals';

@import 'buttons';
@import 'input';
@import 'typography';

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  margin: 0;
  outline: none;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to left, $color-green, $color-orange, $color-red);
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 500% 100%;
}

.error {
  margin-top: 15px;
  text-align: center;
}
