@import '../../styles/globals';

.header {
  background-color: $color-pink;
  padding: 5px 0;
}

h1 {
  color: #fff;
  font-family: 'Nunito';
  font-size: 40px;
  line-height: 1;
  text-align: center;
}
