@import '../../styles/globals';

.header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 10px;
}

.header-buttons {
  position: absolute;
  right: 10px;
  top: 0;

  .button {
    margin-top: 10px;
  }
}
