@import '../../styles/globals';

.button__container {
  display: inline-block;
}

.button {
  @include rounded;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
  transition: background-color .2s ease-out, transform .2s ease-out;
  padding: 15px 30px;

  &:active {
    opacity: .9;
  }

  &[disabled] {
    cursor: default;
  }

  &--bordered {
    border: 2px solid #fff;
  }

  &--orange {
    background-color: $color-orange;
    color: #fff;

    &:hover {
      background-color: $color-red;
    }
  }

  &--white {
    background-color: #fff;
    color: #666;

    &[disabled] {
      color: #ccc;
    }
  }

  &--small {
    font-size: 16px;
    padding: 10px 15px;
  }

  &--animated {
    &:hover {
      transform: scale(1.08);
    }
  }

  &__dropdown {
    @include rounded;
    background-color: #fff;
    list-style-type: none;
    margin-top: 2px;
    position: absolute;
  }

  &__dropdown-item {
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;
    white-space: nowrap;
  }
}

.button__container + .button__container {
  margin-left: 15px;
}
