@import '../../styles/globals';

.dashboard {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
  padding: 0 30px;
  position: absolute;
  top: 0;
  width: 100%;

  &-content {
    flex: 0 0 100%;
    margin: 0 auto;
    max-width: 600px;
  }
}

.slider-container {
  height: 120px;
  margin-bottom: 60px;
}

.rc-slider-rail {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 4px;
  height: 8px;
}

.rc-slider-handle {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .05);
  border: 0;
  height: 40px;
  margin-top: -16px;
  margin-left: -20px;
  width: 40px;
}

.rc-slider-track {
  @include rounded;
  background-color: transparent;
}

.rc-slider-tooltip {
  &-inner {
    background-color: #fff;
    box-shadow: none;
    font-weight: 300;
    font-size: 20px;
    height: 30px;
    color: $color-orange;
    width: 50px;
  }

  &-placement-top &-arrow {
    border-top-color: #fff;
  }
}
